@import '../../../../node_modules/bootstrap/scss/bootstrap.scss';

.logo {
  width: 20%;
}

.img_error_404 {
  width: 90%;
}

/* Responsive styles */
@include media-breakpoint-up(sm) {
  .logo {
    width: 15%;
  }
  .img_error_404 {
    width: 80%;
  }
}

@include media-breakpoint-up(md) {
  .img_error_404 {
    width: 70%;
  }
}

@include media-breakpoint-up(lg) {
  .logo {
    width: 10%;
  }
  .img_error_404 {
    width: 55%;
  }
}

@include media-breakpoint-up(xl) {
}

@include media-breakpoint-up(xxl) {
}
