$box-shadow: 0 0.5rem 1rem rgba(black, 0.6);
$box-shadow-sm: 0 0.125rem 0.4rem rgba(black, 0.9);
$box-shadow-lg: 0 1rem 3rem rgba(black, 0.5);

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
